body {
    font-family: Verdana;
    font-size: 11px;
    background-color: #cccccc;
}

#container {
    width: 700px;
    height: 300px;
    text-align: justify;
    background-color: black;
    margin:auto;
}
p:first-letter {
    color:#0300fd;
    font-family: 'Times New Roman';
    font-size: 38px;
    font-weight: bold;
}
#content {
    width: 700px;
    height: 624px;
    float:left;
    background-color: #fff;
    position: absolute;
}
#text_content{
    padding: 24px 10px 0 11px;
    
}

#header {
    height: 37px;
    padding-top: 14px;
    background-color: #b0b0b0;
}
#text_header {
    height: 100%;
    padding: 0 0 0 38px;
}
h1{
    margin:0;
}
ul  {
    margin: 0;
    padding: 0;
    width: 720px;
    list-style: none;
    text-transform: uppercase; 
}
li {
    display: inline;
    float: left; 
    
}
a {
    padding: 0 16px 0 8.79px;
    line-height: 24px;
    text-decoration: none;
    color:#fff;
    float:left;
    display: block;
    background-image: url(https://cdn1.savepice.ru/uploads/2021/11/7/fcdabcbcc967d13cd82b65a8485d9cfd-full.gif);
    background-repeat: repeat-x;
    margin: 0 -4.5px 0px 0px;
}
a:link{
    text-decoration: none;
}
a:visited {
    color:#333;
}
a:hover {
    color:#333;
}
a:active {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}